#gameContainer{
    padding: 0;
    border: solid;
    margin: auto;
    display: block;
    width: 800px;
    height: 800px;
}
h1, h3 {
    text-align: center;
}

#nextButton{
  margin-right:600px;
}
#fieldcontainer{
  margin:auto;
}
#field{
  height: 300px;
  width: 400px
}
#infoPanel{
  border: blue dashed;
  padding: 10px;
  height: 75px;

}
#startbutton{
  margin: auto;
  padding: 50px;
  width: 350px;
  margin-top: 175px;
  font-size: 33px;
}

#handcontainer{
  margin-top: 50px
}
@keyframes blinking {
    from {background-color: white;}
    to {background-color: gold;}
}
@keyframes blinkingOff {zz
    from {background-color: transparent;}
    to {background-color: transparent;}
}

@keyframes fadeOut {
    0%   {opacity: 100%}
    25%  {opacity: 80%}
    50%  {opacity: 60%}
    75%  {opacity: 25%}
    100% {opacity: 0%}
}
